<footer>
  <div class="row">
    <ul class="grid">
      <li
        class="middle"
        itemprop="brand"
        itemscope
        itemtype="https://schema.org/Organization"
      >
        <meta itemprop="legalName" content="Jur Solutions GmbH" />
        <meta itemprop="email" content="tim@jur.solutions" />
        <meta itemprop="telephone" content="+49 (0)160 / 552 991 7" />
        <span itemscope itemprop="founder" itemtype="https://schema.org/Person">
          <meta itemprop="name" content="Tim Juretzek" />
          <meta itemprop="sameAs" content="{{home.url}}" />
        </span>
        <span
          itemscope
          itemprop="address"
          itemtype="https://schema.org/PostalAddress"
        >
          <meta itemprop="streetAddress" content="Gosepark 29" />
          <meta itemprop="postalCode" content="49594" />
          <meta itemprop="addressLocality" content="Alfhausen" />
          <meta itemprop="addressCountry" content="DE" />
        </span>
        <a
          itemprop="url"
          href="{{home.url}}"
          class="logo"
          title="{{home.title}}"
        >
          <meta
            itemprop="logo"
            content="{{home.url}}assets/images/logo-small.svg"
          />
          <amp-img
            width="43"
            height="40"
            layout="responsive"
            src="assets/images/logo-small.svg"
            alt="Jur Solutions GmbH"
          ></amp-img>
        </a>
      </li>
      <li class="middle center">
        <a href="/impressum" title="Impressum" class="link{{impressum}}"
          >Impressum</a
        >
      </li>
      <li class="middle">&nbsp;</li>
    </ul>
  </div>
</footer>
